.card {
  background-color: var(--second_bg_color);
  border: none;
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.card .card-title {
  color: var(--first_color);
  font-weight: bold;
  font-size: 33px;
  margin: 15px 0 0;
}
.card p {
  padding: 35px 0;
  color: var(--p_color);
}
.carousel-item img {
  height: 100%;
}
.carousel-indicators [data-bs-target] {
  background-color: var(--colorfour);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.carousel-caption {
  bottom: 33%;
  background-color: var(--second_bg_color);
  padding: 60px 0;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: none;
  width: 60px;
  height: 60px;
}
.carousel-control-next-icon {
  background-image: url("../images/icons/right-arrow.png");
}
.carousel-control-prev-icon {
  background-image: url("../images/icons/left-arrow.png");
}
.comment {
  background-color: #fff;
  margin: 20px 0;
}
.info {
  flex-wrap: wrap;
  justify-content: space-between;
}
textarea {
  height: auto;
  background-color: #fff;
  color: rgb(0, 65, 83);
  width: 100%;
  padding: 15px;
  border: 0;
  outline: 0;
  margin-top: 10px;
}
.original-button {
  padding: 15px 60px;
  margin: 15px auto;
  border: none;
  background-color: var(--first_color) !important;
  color: #fff;
  border-radius: 4px;
  font-size: 23px;
  display: inline-block;
}
