/* free articles */
#freearticles {
  padding: 40px 0;
}
#freearticles .container img {
  width: 100%;
}
#freearticles .container .row .col-lg-6 {
  padding: 0;
}
#freearticles .container .row .d-flex {
  padding: 40px;
}
#freearticles .container p {
  font-size: 21px;
  color: var(--main_p);
  line-height: 2;
  margin: 20px 0;
}
#freearticles .container h3 {
  color: var(--first_color);
  font-weight: bold;
}
#freearticles img {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
#freearticles .row:hover img {
  transform: translateY(-6px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
#freearticles .container a {
  font-size: 18px;
}
